{% extends 'account/email/base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="content">
        <p>Reset Password OTP</p>

        <p>Please reset your account password using the OTP (One Time Passsword) provided below</p>

        <h3>{{otp}}</h3>

        <p>
            If you did not request a password reset, please ignore this email.
        </p>

        <p>Have a question? Send us a messge or reply to this mail.</p>
    </div>
</div>

{% endblock content %}
