{% extends 'account/email/base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="content">
        <p>Welcome to RoadFlow AI.</p>
        <p>Get ready to take advantage of organized and reinforced learning.</p>

        <p>Start by verifying your account using the OTP provided below.</p>

        <h3>{{otp}}</h3>

        <p>If you did not register, please ignore this email.</p>

        <p>Have a question? Send us a message or reply to this mail.</p>
    </div>
</div>

{% endblock content %}