DEBUG=True
SECRET_KEY=test
ENCRYPTING_KEY=test
DJANGO_SETTINGS_MODULE=config.settings.dev

REDIS_LOCATION="redis://127.0.0.1:6379"

EMAIL_HOST=smtp.zoho.com
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_USER=test@test.com.ng
EMAIL_HOST_PASSWORD=test
DEFAULT_FROM_EMAIL=test@test.com.ng
DEFAULT_COMPANY_EMAIL=test@test.com.ng

MINDSDB_SERVER_USERNAME=test
MINDSDB_SERVER_PASSWORD=test
